

@keyframes navShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes burgeMenuShow {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes burgeMenuHide {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}