
@mixin heroImages($bgImg) {
	background-image: url($bgImg);
	background-size: cover;
	background-position: center;
}

@mixin component($color) {
	position: relative;
	padding-top: 12px;
	color: $color;
	text-transform: uppercase;
	background-color: transparent;
	border: 3px solid $color;
	font-weight: bold;
	border-radius: 0;
	overflow: visible;
	font-size: 1.6rem;
	text-align: center;
	transition: 0.6s;
	cursor: pointer;

	&::after,
	&::before {
		opacity: 0;
		position: absolute;
		content: '';
		z-index: -1;
		width: 100%;
		height: 100%;
		transition: 0.6s;
	}

	&::after {
		bottom: 0;
		right: 0;
		border-bottom: 3px solid $color;
		border-right: 3px solid $color;
	}

	&::before {
		top: 0;
		left: 0;
		border-top: 3px solid $color;
		border-left: 3px solid $color;
	}

	&:hover {
		border: 3px solid transparent;
		color: $color;
	}

	&:hover::after {
		opacity: 1;
		bottom: -10px;
		right: -10px;
	}

	&:hover::before {
		opacity: 1;
		top: -10px;
		left: -10px;
	}
}

@mixin link($color) {
	&:hover {
		color: $color;
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		transition: 0.3s;
	}

	&::before {
		top: -2px;
		left: -2px;
		border-top: 0px solid $color;
		border-left: 0px solid $color;
	}

	&::after {
		bottom: -2px;
		right: -2px;
		border-bottom: 0px solid $color;
		border-right: 0px solid $color;
	}

	&:hover::after,
	&:hover::before {
		width: 80%;
		height: 80%;
		z-index: -5;
	}

	&:hover::before {
		border-top: 1px solid $color;
		border-left: 1px solid $color;
	}

	&:hover::after {
		border-bottom: 1px solid $color;
		border-right: 1px solid $color;
	}
}
