@use './colors';
@use './mixins';
@use './animation';

.shadow-nav {
	background-color: #000;
}

.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: background-color 0.6s;
	z-index: 1;
	z-index: 2;

	.logo {
		margin: 30px 20px;
		width: 80px;

		&-top {
			fill: colors.$main-color;
		}

		&-bot {
			fill: colors.$pure-white;
		}
	}

	.burger-btn {
		margin-right: 20px;
		padding: 10px;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}

		&__box {
			position: relative;
			width: 30px;
			height: 30px;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			position: absolute;
			right: 0;
			height: 3px;
			content: '';
			background-color: colors.$pure-white;
			transition: width 0.3s;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 10px;
				width: 60%;
			}

			&::before {
				top: 20px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}

	&__links {
		display: none;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-right: 20px;
		list-style-type: none;
	}

	&__link {
		position: relative;
		padding: 10px 40px;
		width: 162px;
		@include mixins.link(colors.$secondary-color);
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.4rem;
		color: colors.$pure-white;
	}

	&:hover {
		background-color: #000;
	}
}

.nav-shipping {
	display: none;
	opacity: 0;
	position: absolute;
	width: 154px;
	margin-top: 10px;
	padding-top: 10px;

	&__menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
		background-color: #000;
	}
	&__link {
		padding: 10px 0;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2rem;
		color: colors.$pure-white;
		transition: color 0.6s;

		&:hover {
			color: colors.$secondary-color;
		}
	}

	&:hover {
		display: block;
		animation: navShow 0.6s forwards;
	}
}

.shipping-menu:hover ~ .nav-shipping {
	display: block;
	animation: navShow 0.6s forwards;
}


@media screen and (min-width: 1280px) {
	.nav {
		.burger-btn {
			display: none;
		}

		&__links {
			display: flex;
		}
	}
}


